<button
  matIconButton
  [matMenuTriggerFor]="menu"
  aria-label="Settings"
  matTooltip="Settings"
  matTooltipPosition="below"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Freddy Abregú</span>
  </button>
  <button mat-menu-item routerLink="./settings/profile">
    <mat-icon>account_box</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon>pie_charts</mat-icon>
    <span>Analitycs</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications</mat-icon>
    <span>Notifications</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>logout</span>
  </button>
</mat-menu>
