<mat-nav-list>
  <mat-list-item routerLink="/dashboard/home" (click)="handleItemClick()">
    <span class="icon-and-text">
      <mat-icon class="icon-margin">home</mat-icon>
      Home
    </span>
  </mat-list-item>
  <mat-list-item
    routerLink="/dashboard/drawer/table"
    (click)="handleItemClick()"
  >
    <span class="icon-and-text">
      <mat-icon class="icon-margin">all_out_icon</mat-icon>
      Table
    </span>
  </mat-list-item>
  <mat-list-item
    routerLink="/dashboard/drawer/list"
    (click)="handleItemClick()"
  >
    <span class="icon-and-text">
      <mat-icon class="icon-margin">list</mat-icon>
      List
    </span>
  </mat-list-item>

  <mat-nav-list>
    <mat-list-item (click)="toggleSubMenu('components')">
      <span class="icon-and-text">
        <mat-icon class="icon-margin">https</mat-icon>
        Submenu
        <div class="expand-icon-right">
          <mat-icon class="expand-icon">
            {{ subMenuOpen() === "components" ? "expand_less" : "expand_more" }}
          </mat-icon>
        </div>
      </span>
    </mat-list-item>

    @if(subMenuOpen() === 'components'){
    <div>
      <mat-list-item
        routerLink="/dashboard/drawer/button"
        class="submenu-content"
        (click)="handleItemClick()"
      >
        <span class="icon-and-text">
          <mat-icon class="icon-margin">rss_feed</mat-icon>
          Button
        </span>
      </mat-list-item>
      <mat-list-item
        routerLink="/dashboard/drawer/tabs"
        class="submenu-content"
        (click)="handleItemClick()"
      >
        <span class="icon-and-text">
          <mat-icon class="icon-margin">phone</mat-icon>
          Tabs
        </span>
      </mat-list-item>
    </div>
    }
  </mat-nav-list>
</mat-nav-list>
